<template>
  <div>
    <p class="name">My name is Sila Setthakan-anan</p>
    <p class="nickname">Nick name is Korn</p>
    <div>
      <p class="edu">
        I'm studying in Sukhothai Thammathirat Open University (STOU)<br/>
        Field of Information and Communication Technology <br/>
        Computer Science major
      </p>
      <p class="edu">
        Now I'm learning in VueJS <br/>
        And I'm preparing to lecture in Basic Java and OOP tutorial at STOU in September 2019.
      </p>
      <p class="bye">See you</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
  .name {
    font-size: 55px;
  }
  .nickname {
    font-size: 40px;
  }
  .edu {
    font-size: 25px;
  }
  .bye {
    font-size: 50px;
  }
</style>
