<template>
  <div>
    <div>Home!</div>
    <hello-world></hello-world>
  </div>
</template>

<script>
import HelloWorld from './HelloWorld'
import { mapMutations, mapState, mapActions } from 'vuex'

export default {
  name: 'Home',
  mounted () {
    this.$store.commit('changeCount', 1)
    this.$store.dispatch('addTodo', {})
    console.log(this.count)
  },
  methods: { // map mutations and actions in methods
    ...mapMutations(['addItem', 'changeCount']), // when need not to map mutations
    ...mapActions(['addTodo']) // when need not to map actions
  },
  computed: { // map state and getters in computed
    ...mapState(['count', 'items']),
    count () {
      // when need not to map state
      return this.$store.state.count
    }
  },
  components: {
    HelloWorld
  }
}
</script>

<style scoped>
</style>
