<template>
  <div>
    <h1>Example Basic Java and OOP Slides</h1>
    <div>
<!--      <img :src="'../assets/java-oop/' + exampleSlides.overview">-->
<!--      <img :src="'../assets/java-oop/' + exampleSlides.objectiveIfElse">-->
<!--      <img :src="'../assets/java-oop/' + exampleSlides.scopeVar">-->
      <img src="../assets/java-oop/01-overview.jpg">
      <img src="../assets/java-oop/02-objective-if-else.jpg">
      <img src="../assets/java-oop/03-variable-scope.jpg">
      <img src="../assets/java-oop/04-workshop-1.jpg">
      <img src="../assets/java-oop/05-if-else-elif.jpg">
      <img src="../assets/java-oop/06-objective-looping.jpg">
      <img src="../assets/java-oop/07-while.jpg">
      <img src="../assets/java-oop/08-objective-array.jpg">
      <img src="../assets/java-oop/09-access-array.jpg">
      <img src="../assets/java-oop/10-objective-class-object.jpg">
      <img src="../assets/java-oop/11-class-and-object.jpg">
      <img src="../assets/java-oop/12-naming-convention-class.jpg">
      <img src="../assets/java-oop/13-naming-convention-variable.jpg">
      <img src="../assets/java-oop/14-naming-convention-method.jpg">
    </div>
  </div>
</template>

<script>
export default {
  name: 'JavaTutorial',
  data () {
    return {
      exampleSlides: {
        overview: '01-overview.jpg',
        objectiveIfElse: '02-objective-if-else.jpg',
        scopeVar: '03-variable-scope.jpg'
      }

    }
  }
}
</script>

<style>

</style>
