<template>
  <div>Product id: {{$route.params.id}}</div>
</template>

<script>
export default {
  name: 'Product',
  mounted () {
    console.log('Product id: ' + this.$route.params.id)
  }
}
</script>

<style scoped>
</style>
