<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name: 'home'}">Home</router-link>
      |
      <router-link :to="{name: 'product', params: {id: productId}}">Product</router-link>
      |
      <router-link :to="{name: 'about'}">About</router-link>
      |
      <router-link :to="{name: 'java-tutorial'}">Java Tutorial</router-link>
    </div>
    <div>
      Product Id:&nbsp;<input type="number" v-model="productId"/>
    </div>
    <img alt="Vue logo" src="./assets/logo.png">
    <routerView></routerView>
    <div>
      <button @click="goPrevious">Previous</button>
      <button @click="goNext()">Next</button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  components: {},
  mounted () {
    this.$router.push({ name: 'product' })
  },
  methods: {
    goPrevious () {
      this.$router.go(-1) // go previous 1 page
    },
    goNext () {
      this.$router.go(1) // go next 1 page
    }
  },
  data () {
    return {
      productId: ''
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  #nav a.router-link-exact-active {
    color: #42b983
  }
</style>
